a {
  text-decoration: none;
}

nav {
  padding: 10px 0;
}

nav ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}

nav ul li {
  padding: 5px 10px;
  list-style: none;
  border: 1px solid;
}